* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(192, 192, 192);
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
  font-family: "Candara", "Candara", "Candara";
  font-weight: 300;
  font-size: 16px;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  max-width: 1000px;
  min-width: 1000px;
  min-height: 1000px;
  margin: 20px;
  padding: 25px 50px;
}

footer {
  position: absolute;
  left: 50px;
  bottom: 25px;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Open Sans";
  letter-spacing: 1px;
}
h2 {
  font-size: 21px;
  font-weight: normal;
}

a {
  color: #337ab7;
  text-decoration: none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 0 0 10px;
}

.info {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 30px;
}

/* .info-left {
  
} */
.info-right {
  display: grid;
  padding-top: 25px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 40px auto;
  align-items: center;
}

.email-icon,
.hometown-icon,
.github-icon,
.homepage-icon {
  justify-self: end;
}

.email,
.hometown,
.github,
.homepage {
  padding-left: 20px;
  justify-self: start;
}

.content-header {
  font-family: "Candara-Bold", "Candara-Bold", "Candara";
  color: #000;
  border-bottom: 1px solid #dddddd;
}
.content-header > h2 {
  font-weight: 700;
}

.top {
  cursor: pointer;
}

.experience {
  border-left: 3px solid #009688;
  padding: 0 30px;
  margin-top: 20px;
  margin-left: 184px;
  font-family: "Maven Pro", sans-serif;
}

.experience .title,
.experience .duration {
  max-width: 140px;
  text-align: center;
}

.experience .item {
  position: relative;
  margin-bottom: 40px;
}

.experience .item::before {
  content: "";
  position: absolute;
  left: -46px;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid #009688;
}
.experience .item::after {
  content: "";
  position: absolute;
  left: -37px;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #009688;
}
.experience h5 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.experience .company-name {
  color: #009688;
}
.experience .location {
  position: absolute;
  right: 0;
  top: 2px;
}
.experience .location .fa {
  margin-right: 8px;
}
.experience .job-info {
  position: absolute;
  left: -185px;
  top: 0;
}
.experience .job-info .title {
  color: #009688;
}

.fa-ul {
  margin-left: 1em;
  margin-top: 1em;
}
.fa-ul > li {
  margin: 0.5em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.projects .item {
  display: grid;
  grid-template-rows: 1.5em auto 1.5em;
  align-items: space-around;
  width: 48%;
  margin: 5px;
  margin-right: 12px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d0d7de;
}

.project-title-line,
.language {
  margin-left: 4px;
  padding: 2px;
}
.project-title {
  margin-left: 4px;
  font-weight: 700;
  color: #009688;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Maven Pro", sans-serif;
}
.project-title-line a{
  cursor: pointer;
}

.language-java {
  color: rgb(176, 114, 25);
}
.language-python{
  color: rgb(53, 114, 165);
}
.language-javascript{
  color: rgb(241, 224, 90);
}
.describe {
  padding: 6px 18px;
  overflow: hidden;
}
.star{
  float: right;
  position: relative;
  color: rgb(234, 197, 79);
}
